.bird, #vanta-canvas{
  animation: none !important;
  background-color: black;

}
body {
  z-index: 2;
  position: relative;
  background-color: #f6f6f6 !important;
  width: 100%;
  min-height: 100vh;

  color: #000000 !important;

}
#hello{

  color: #ffffff;
}
.content{
  background-color: #ffffff;
}
section {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
