.bird, #vanta-canvas{
  animation: none !important;

}
body {
  z-index: 2;
  position: relative;
  background-color: black !important;
  width: 100%;
  min-height: 100vh;

  color: white !important;

}
#hello{

  color: white;
}
.content{
  background-color: black;
}
section {
  z-index: -2;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



@keyframes animate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
